@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Delius&display=swap");
@import url("https://fonts.googleapis.com/css?family=Boogaloo&display=swap");

a.button:hover{
  color: white;
  text-decoration: none;
  background: #e74b0d;
  border-color: #e74b0d;
}
a.btn-outline {
  background: none;
  border: 2px solid #ff530e;
  border-radius: 15px;
  color: white;
}
a.btn-outline:hover{
  background: #e74b0d;
  border-color: #e74b0d;
}
.bigLogo {
  margin-top: 15vh;
  width: 80vw;
  height: 80vw;
  max-width: 400px;
  max-height: 400px;
}
br {
  height: 5px;
}
.brand {
  width: 100%;
  max-width: 360px;
}
.button {
  background: #25b334;
  color: #fff;
  border: 3px solid #25b334;
  border-radius: 15px;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  font-family: "Delius";
  letter-spacing: 1px;
}
div[id^="section"]:target::before {
	content: " ";
	display: block;
	height: 100px;
  margin-top: -70px;
}
footer {
  background: rgb(36, 17, 144, 0.7);
  text-align: center;
  margin: 0 0;
  padding: 10px 0;
}
header {
  color: #fff;
  background: rgb(36, 17, 144); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(36, 17, 144, 1) 0%,
    rgba(70, 42, 213, 1) 48%,
    rgba(52, 174, 222, 1) 100%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(36, 17, 144, 1) 0%,
    rgba(70, 42, 213, 1) 48%,
    rgba(52, 174, 222, 1) 100%
  );
  padding: 15px;
  text-align: center;
  min-width: 100vw;
  min-height: 90vh;
}
.infoText {
  margin-top: 20vh;
  text-align: center;
}
.navbar a {
  display: inline-block;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 7px 10px;
  font-family: "Delius";
  font-size: 1.1rem;
}
.navbar a:hover {
  background-color: rgb(39, 20, 151);
  color: white;
  text-decoration: none;
  border-radius: 15px;
}
.navbar .button {
  border: none;
  border-radius: 15px;
  background: #ff530e;
  color: #fff;
  font-family: "Delius";
  font-size: 1.1rem;
  margin: 0 5px;
}
.navbar,
.navbar-default {
  background: rgb(36, 17, 144); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(36, 17, 144, 1) 0%,
    rgba(70, 42, 213, 1) 48%,
    rgba(52, 174, 222, 1) 100%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(36, 17, 144, 1) 0%,
    rgba(70, 42, 213, 1) 48%,
    rgba(52, 174, 222, 1) 100%
  );
  width: 100vw;
}
.navbrand {
  height: 60px;
  position: fixed;
  left: 10px;
  top: 0;
  align-items: left;
}
.p1 {
  font-family: "Delius";
  font-size: 200%;
  color: #fff8ec;
  font-weight: bold;
  text-shadow: 0 6px 25px rgba(0, 0, 0, 0.7);
  justify-content: space-between;
  padding-bottom: 15px;
  border-color: white;
  box-shadow: 0 1em 1em -1em rgba(255, 255, 255, .3);
}
.p2 {
  font-family: "Delius";
  font-size: 1rem;
  font-weight: 100;
  justify-content: space-between;
  color: white;
}
.social-wrapper {
  text-align: center;
  color: #fff;
}
.social-wrapper p {
  color: white;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
