.justify-center {
    display: flex;
    justify-content: center;
}

.bg-container {
    background-color: #ffffb8;
    min-height: 100vh;
    min-width: 100vw; 
    overflow: hidden;
}

.logo {
    margin: 4vw;
    background: none;
    height: 15vw;
    width: 15vw;
}

.brand {
    width: 18rem;
}

.message-container {
    margin-top: 7vh;
    text-align: center;
}

.welcome-message {
    margin-top: 2vh;
    font-family: 'Poppins', sans-serif;;
    font-size: 1.5rem;
    font-style: normal;
}

.login-container {
    font-family: 'Roboto', sans-serif;
    padding: 35px;
    background: #ffe58f;
    border-color: #ffe58f;
    /* right: 0px;
    position: absolute;
    min-width: 7vw;
    min-height: 100vh; */
    border-radius: 15px 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    margin: 10%;
}

.login-title {
    font-family: 'Righteous', sans-serif;
    font-size: 2rem; 
    text-align: center;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .login-container {
        position: relative;
        min-height: fit-content;
    }

    .brand {
        width: 15em;
    }

    .welcome-message {
        font-size: 0.9rem;
    }

    .logo {
        margin: 10vw;
        height: 20vw;
        width: 20vw;
    }

  }

