.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

.ant-layout-sider-children .menu {
    background: '#faad14';
}

.ant-menu .ant-menu-sub {
  background: '#faad14';
}