@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Delius&display=swap");
@import url("https://fonts.googleapis.com/css?family=Boogaloo&display=swap");

.descriptionItem{
    text-align: justify;
    font-weight: initial;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: "Delius";
    font-weight: bolder;
    padding: 0 3vw;

}

.editbtn{
    border-radius: 10px; 
    color:#fff;
    font-weight: bold; 
    padding: 0 20px;
    background-color: #25b334; 
    border-color: #25b334;
    margin: 1rem 20px;
}

.editbtn:hover {
    background-color: #03a814; 
    border-color: #03a814;
    color: #fff;
}

.gr {
    background: #fff;
}


.image{
    width:auto;
    max-width: 500px;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 5vh;
}


.label {
    font-weight: bolder;
    font-size: 1rem;
}

.span{
    font-family: "Delius";
    font-size: 1.2rem;
    color:#001870;
    font-weight: bold;
}

.tag {
    font-weight: 'bold';
    background:#DAC6FF;
    font-size: medium;
    cursor: pointer;
}

.title {
    text-align: center;
    font-family: 'Boogaloo';
    color: #ff530e;
    word-wrap: break-word;
}

@media screen and (max-width:768px) {
    .image {
        max-width: 80vw;
        max-height: 80vh;
    }
}