body {
    font-family: 'Delius'!important;
}

label {
    font-size: 1.1rem !important;
    font-style: bolder!important;
}

.button {
    background: #25b334;
    margin-top: 5vh;
    border-color: #25b334;
    border-radius: 15px;
}

.button:hover {
    background: #209e2d;
    border-color: #209e2d;
}

