@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Delius&display=swap");
@import url("https://fonts.googleapis.com/css?family=Boogaloo&display=swap");

.descriptionItem{
    text-align: justify;
    font-weight: initial;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Delius";
    font-weight: bolder;
    padding: 0 3vw;

}

.gr {
    background: #fff;
}


.image{
    max-width: 70vw;
    max-height: 70vh;
    border-radius: 10px;
}


.label {
    text-align: justify;
    font-weight: bolder;
    font-size: 4rem;
    
}

.span{
    
    font-family: "Delius";
    font-size:1.5rem;
    color:#001870;
    font-weight: bold;
}

.tag {
    font-weight: 'bold';
    background:#DAC6FF;
    font-size: medium;
    cursor: pointer;
}